*{
    margin: 0;
    padding: 0;
}
.title{
    text-transform: uppercase;
    padding: 15px;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    word-spacing: 5px;
    margin-top: 0px;
}
header{
    background-color: rgb(194, 82, 153);
    text-align: center;
    padding: 10px;
    word-spacing: 15px;
    text-transform: uppercase;
    color: aliceblue;
    margin-top: 0px;
}

header span{
    margin: 0;
    display: inline-block;padding: 10px 15px;
    display: inline-block;
    border-radius: 15px;
    background: rebeccapurple;
    display: inline-block;
}
.title2{
    text-align: left;
    text-decoration: dotted underline;
    
}
main{
    padding: 10px;
    background-color: rgb(248, 248, 244);
    border-radius: 20px;
    width: 90%;
}
main section{
    background-color: rgb(185, 194, 200);
    color: aliceblue;
    padding: 30px;
    text-align: center;
    vertical-align: top;
    border-radius: 15px;
}
table{
    width: 100%;
    margin: 20px 10px;
    font-size: 20px;
    text-transform: capitalize;
    border-collapse: collapse;
}
thead{
    background-color: rgb(161, 24, 122);
    color: aliceblue;
}
thead th{
    border: none;
}
.mmm{
    text-align: left;
    text-decoration: dotted underline;
}
.sec2{
    padding: 15;
    margin: 20px;
    width: 40%;
    height: 30%;
    display: inline-block;
}
.nnnn{
    text-align: left;
}
.sec3{
    display: inline-block;
    width: 30%;
   
}
.m2{
    padding: 10px;
    background-color: rgb(248, 248, 244);
    border-radius: 20px;
    width: 90%;
    display: inline-block;



}
.sec3 audio{
    width: 100%;


}
.card{
    display: inline-block;
    border-left: 2px solid blueviolet;
    width: 30%;
    height: 20%;
}
.info{
    text-align: left;
    text-decoration: dotted underline;
    color: blueviolet;
}
.our{
    color: blueviolet;
    text-align: left;
    width: 20%;
}
.tttt{
    display: inline-block;
    border-left: 2px solid blueviolet;
    width: 30%;
    height: 20%;

}
.tit{
    color: blueviolet;
    text-align: left;
    width: 20%;
}
.uuu{
    display: inline-block;
    border-left: 2px solid blueviolet;
    width: 20%;
    height: 20%;
}
.ppp{
    color: blueviolet;
    text-align: left;
    width: 20%;
}
footer{
    background-color: blueviolet;
    text-align: center;
    padding: 15px;
    color: aliceblue;
}
